target
target-install
systemd/cloudflare-dyndns.config

.std

result

# prj-spec dirs
# <https://github.com/numtide/prj-spec>
.bin
.cache
.config
.data
.run

# nixago-auto-created: mdbook-build-folder
docs/build
