[package]
name = "cfdyndns"
version = "0.0.1"
authors = ["Cole Mickens <cole.mickens@gmail.com>"]

[dependencies]
env_logger = "^0.3"
hyper = "^0.9"
serde = "^0.8"
serde_json = "^0.8"
trust-dns = "^0.7"
